@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);
  --color-neon-main: #2563eb;
  --font-display: var(--font-oswald);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

::selection {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
